@page "/mis-quinielas"
@using Volo.Abp.Application.Dtos
@using Festival.Apuestas
@using Festival.Predicciones
@using Festival.Localization
@using Microsoft.Extensions.Localization
@using Volo.Abp.AspNetCore.Components.Web
@inject IStringLocalizer<FestivalResource> L
@inject AbpBlazorMessageLocalizerHelper<FestivalResource> LH
@inject IApuestaAppService ApuestaAppService
@inherits FestivalComponentBase

<Card>
    <CardHeader>
    <Row Class="justify-content-between">
        <Column ColumnSize="ColumnSize.IsAuto">
            <h2>Mis Quinielas</h2>
        </Column>
        <Column ColumnSize="ColumnSize.IsAuto">
         @if (PuedeCrearApuesta)
         {
            <Button Color="Color.Primary"
            Clicked="@ShowCreateModal">Agregar Quiniela</Button>
          }
        </Column>
    </Row>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="ApuestaDto"
                  Data="listaApuestas"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="false"
                  PageSize="10"
                  Responsive="true">
            <DataGridColumns>
                <DataGridColumn TItem="ApuestaDto"
                                Field="@nameof(ApuestaDto.Alias)"
                                Caption="Alias">
                </DataGridColumn>
                <DataGridColumn TItem="ApuestaDto"
                                Field="@nameof(ApuestaDto.CreationTime)"
                                Caption="Fecha">
                </DataGridColumn>
                <DataGridColumn TItem="ApuestaDto"
                                Field="@nameof(ApuestaDto.PuntosObtenidos)"
                                Caption="Puntos obtenidos">
                </DataGridColumn>
                <DataGridEntityActionsColumn TItem="ApuestaDto" @ref="@EntityActionsColumn">
                    <DisplayTemplate>
                        <EntityActions TItem="ApuestaDto" EntityActionsColumn="@EntityActionsColumn">
                            <EntityAction TItem="ApuestaDto"
                                          Clicked="() => OpenConsultarApuestaModal(context)"
                                          Text="Ver Detalle">
                            </EntityAction>
                            <EntityAction TItem="ApuestaDto"
                                          Clicked="() => OpenEditarApuestaModal(context)"
                                          Visible=PuedeEditarApuesta
                                          Text="Editar Quiniela">
                            </EntityAction>
                        </EntityActions>
                    </DisplayTemplate>
                </DataGridEntityActionsColumn>
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<Modal @ref="modalCreateRef">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Agregar Quiniela</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@CreateValidationsRef" Model="@NuevaApuesta">
            <Validation>
                <Field>
                        <FieldLabel>Alias</FieldLabel>
                        <TextEdit @bind-Text="@NuevaApuesta.Alias"/>
                </Field>
            </Validation>
             @foreach (var prediccion in predicciones)
             {
             <Row>
                <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is3.OnMobile" Class="d-flex justify-content-end" >
                    <span class="paises" style="margin-right:2px;">@prediccion.EquipoA</span> 
                       <Figure class="imagen" Size="FigureSize.Is24x24">
                            <FigureImage Source="@ObtenerBandera(prediccion.SiglasEquipoA)"   Rounded/>
                       </Figure>
                </Column>
                <Column ColumnSize="ColumnSize.Is2.OnWidescreen.Is3.OnMobile">
                    <Validation>
                    <Field>
                        <NumericEdit TValue="int" @bind-Value="@prediccion.PrediccionResultadoEquipoA" Min="0" Culture="en-US" />
                    </Field>
                    </Validation>
                </Column>
                <Column ColumnSize="ColumnSize.Is2.OnWidescreen.Is3.OnMobile">
                    <Validation>
                    <Field>
                        <NumericEdit TValue="int" @bind-Value="@prediccion.PrediccionResultadoEquipoB" Min="0" Max="99" />
                    </Field>
                    </Validation>
                </Column>
                 <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is3.OnMobile" Class="d-flex justify-content-start">
                    
                       <Figure class="imagen" Size="FigureSize.Is24x24">
                            <FigureImage Source="@ObtenerBandera(prediccion.SiglasEquipoB)"   Rounded/>
                       </Figure>
                      <span class="paises" style="font-size:14px;margin-left:2px;">@prediccion.EquipoB</span> 
                </Column>
             </Row>
            }
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@HideCreateModal">Cerrar</Button>
            <Button Color="Color.Primary" Clicked="AgregarAsync">Guardar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="ConsultarApuestaRef">
    <ModalContent Centered Size="ModalSize.ExtraLarge">
        <ModalHeader>
            <ModalTitle>Quiniela: @detalleApuesta.Alias</ModalTitle>
            <CloseButton Clicked="CloseConsultarApuestaModal" />
        </ModalHeader>
        <ModalBody> 
            <Field>
                <FieldLabel>Total de puntos obtenidos: @detalleApuesta.PuntosObtenidos </FieldLabel>
            </Field>
            <DataGrid TItem="PrediccionDto"
                      Data="detalleApuesta.Predicciones"
                      TotalItems="TotalCount"
                      ShowPager="true"
                      PageSize="10">
                <DataGridColumns>
                    <DataGridColumn TItem="PrediccionDto"
                                    Caption="Grupo">
                                    <DisplayTemplate>
                                        @context.Partido.Grupo
                                    </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PrediccionDto"
                                    Caption="">
                                    <DisplayTemplate>
                                        <Figure Size="FigureSize.Is24x24">
                                            <FigureImage Source="@ObtenerBandera(context.Partido.SiglasEquipoA)"   Rounded/>
                                        </Figure>
                                        @context.Partido.EquipoA
                                    </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PrediccionDto"
                                    Caption="">
                                    <DisplayTemplate>
                                        <Figure Size="FigureSize.Is24x24">
                                            <FigureImage Source="@ObtenerBandera(context.Partido.SiglasEquipoB)"   Rounded/>
                                        </Figure>
                                        @context.Partido.EquipoB
                                    </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PrediccionDto"
                                    Caption="Resultado">
                                    <DisplayTemplate>
                                         @GetResultado(context.Partido)
                                    </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PrediccionDto"
                                    Caption="Predicción">
                                    <DisplayTemplate>
                                        @context.PrediccionResultadoEquipoA - @context.PrediccionResultadoEquipoB
                                    </DisplayTemplate>
                    </DataGridColumn>
                    <DataGridColumn TItem="PrediccionDto"
                                    Field="@nameof(PrediccionDto.PuntosObtenidos)"
                                    Caption="Puntos Obtenidos">
                    </DataGridColumn>
                </DataGridColumns>
                 </DataGrid>
        </ModalBody>
    </ModalContent>
</Modal>

<Modal @ref="EditarApuestaRef">
    <ModalContent Centered Size="ModalSize.Large">
        <ModalHeader>
            <ModalTitle>Editar Quiniela</ModalTitle>
            <CloseButton />
        </ModalHeader>
        <ModalBody>
            <Validations @ref="@EditValidationsRef" Model="@editarApuesta">
            <Field>
                    <FieldLabel>Alias</FieldLabel>
                    <TextEdit @bind-Text="@editarApuesta.Alias"/>
            </Field>
            @if (editarApuesta.Predicciones != null)
            {
                @foreach (var prediccion in editarApuesta.Predicciones)
                {
                    <Row>
                        <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is3.OnMobile" Class="d-flex justify-content-end">
                     <span class="paises" style="margin-right:2px;">@prediccion.Partido.EquipoA</span> 
                       <Figure class="imagen" Size="FigureSize.Is24x24">
                            <FigureImage Source="@ObtenerBandera(prediccion.Partido.SiglasEquipoA)"   Rounded/>
                       </Figure>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is2.OnWidescreen.Is3.OnMobile">
                            <Validation>
                            <Field>
                                <NumericEdit Min=int.MinValue @bind-Value="@prediccion.PrediccionResultadoEquipoA"/>
                            </Field>
                            </Validation>
                        </Column>
                        <Column ColumnSize="ColumnSize.Is2.OnWidescreen.Is3.OnMobile">
                            <Validation>
                            <Field>
                                <NumericEdit Min=int.MinValue @bind-Value="@prediccion.PrediccionResultadoEquipoB"/>
                            </Field>
                            </Validation>
                        </Column>
                         <Column ColumnSize="ColumnSize.Is4.OnWidescreen.Is3.OnMobile" Class="d-flex justify-content-start">
                     
                       <Figure class="imagen" Size="FigureSize.Is24x24">
                            <FigureImage Source="@ObtenerBandera(prediccion.Partido.SiglasEquipoB)"   Rounded/>
                       </Figure>
                       <span class="paises" style="margin-left:2px;">@prediccion.Partido.EquipoB</span> 
                        </Column>
                    </Row>
                }

            }
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Secondary" Clicked="@CloseEditarApuestaModal">Cerrar</Button>
            <Button Color="Color.Primary" Clicked="EditarApuesta">Guardar</Button>
        </ModalFooter>
    </ModalContent>
</Modal>
